header{background-color: rgb(103, 103, 204);
    color:oldlace ;padding: 10px 0;
text-align:center;}
header h1{
    margin: 0;}
    nav ul{list-style: none;padding:none ;}
   ul li{text-decoration:none ;}